<div class="card">
  <h3>{{ pokemon.name | titlecase }}</h3>
  <img [src]="pokemon.sprites?.front_default || pokemon.image" alt="{{ pokemon.name }}" />

  <ng-container *ngIf="pokemon.types">
    <p>Tipo: {{ pokemon.types[0].type.name }}</p>
    <p>Altura: {{ pokemon.height }}</p>
    <p>Peso: {{ pokemon.weight }}</p>
  </ng-container>

  <ng-container *ngIf="yaEsFavorito">
    <div class="nickname-section">
      <p *ngIf="pokemon.nickname && !editandoApodo">
        <strong>Apodo:</strong> {{ pokemon.nickname }}
        <button (click)="iniciarEdicionApodo()" class="edit-btn">Editar</button>
      </p>
      
      <div *ngIf="editandoApodo" class="nickname-edit">
        <input 
          [(ngModel)]="nuevoApodo" 
          placeholder="Ingresa un apodo"
          class="nickname-input">
        <div class="nickname-buttons">
          <button (click)="guardarApodo()" class="save-btn">Guardar</button>
          <button (click)="cancelarEdicionApodo()" class="cancel-btn">Cancelar</button>
        </div>
      </div>
      
      <p *ngIf="!pokemon.nickname && !editandoApodo">
        <button (click)="iniciarEdicionApodo()" class="add-nickname-btn">
          Agregar apodo
        </button>
      </p>
    </div>
  </ng-container>

  <ng-container *ngIf="!yaEsFavorito">
    <button (click)="guardarFavorito()" class="guardar-favorito-btn">
      Guardar como favorito
    </button>
  </ng-container>

  <ng-container *ngIf="yaEsFavorito">
    <button (click)="eliminarFavorito()" [disabled]="eliminando" class="eliminar-favorito-btn">
      {{ eliminando ? 'Eliminando...' : 'Eliminar favorito' }}
    </button>
  </ng-container>
</div>