# MongoDB Configuration
# Copia este archivo como .env y actualiza con tus credenciales

# Para MongoDB Atlas (recomendado)
MONGODB_URL=mongodb+srv://<usuario>:<password>@cluster.example.mongodb.net/?appName=Cluster0

# Para MongoDB Local (alternativa)
# MONGODB_URL=mongodb://localhost:27017

# Nombre de la base de datos
DATABASE_NAME=pokedex_db
